# ================================================================ #
# MySQL configuration file - best defaults determined by Palomino  #
# August 2012                                                      #
# ================================================================ #

#   Copyright 2012 Tim Ellis
#   CTO: PalominoDB
#   The Palomino Cluster Tool
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

[mysqld]
# should we start as root, become this user
# =========================================
user = mysql

# networking
# ==========
port = {{ mysql["port"] }}
bind_address = {{ mysql["bind_address"] }}
socket = {{ mysql["socket"] }}
back_log = {{ mysql["back_log"] }}
max_connections = {{ mysql["max_connections"] }}
max_connect_errors = {{ mysql["max_connect_errors"] }}
max_allowed_packet = {{ mysql["max_allowed_packet"] }}
interactive_timeout = {{ mysql["interactive_timeout"] }}
wait_timeout = {{ mysql["wait_timeout"] }}
{{ mysql["skip_name_resolve"] }}

# replication
# ===========
server_id = MYSQL_SERVER_ID
auto_increment_increment = {{ mysql["auto_increment_increment"] }}
auto_increment_offset = {{ mysql["auto_increment_offset"] }}
log_bin = {{ mysql["log_bin"] }}
relay_log = {{ mysql["relay_log"] }}
relay_log_index = {{ mysql["relay_log_index"] }}
relay_log_info_file = {{ mysql["relay_log_info_file"] }}
expire_logs_days = {{ mysql["expire_logs_days"] }}
{{ mysql["read_only"] }}
{{ mysql["log_slave_updates"] }}
{{ mysql["skip_slave_start"] }}

# locations
# =========
# only change datadir if you don't plan to ever use Percona Toolkit
datadir = {{ mysql["datadir"] }}
tmpdir = {{ mysql["tmpdir"] }}

# logging
# =======
log_output = {{ mysql["log_output"] }}
slow_query_log = {{ mysql["slow_query_log"] }}
slow_query_log_file = {{ mysql["slow_query_log_file"] }}
long_query_time = {{ mysql["long_query_time"] }}
sync_binlog = {{ mysql["sync_binlog"] }}

# cache sizes, more modern
# ========================
thread_cache_size = {{ mysql["thread_cache_size"] }}
table_open_cache = {{ mysql["table_open_cache"] }}
table_definition_cache = {{ mysql["table_definition_cache"] }}

# query cache
# ===========
query_cache_type = {{ mysql["query_cache_type"] }}
query_cache_size = {{ mysql["query_cache_size"] }}
query_cache_limit = {{ mysql["query_cache_limit"] }}

# temp tables
# ===========
tmp_table_size = {{ mysql["tmp_table_size"] }}
max_heap_table_size = {{ mysql["max_heap_table_size"] }}

# MyISAM settings
# ===============
key_buffer_size = {{ mysql["key_buffer_size"] }}
myisam_sort_buffer_size = {{ mysql["myisam_sort_buffer_size"] }}

# InnoDB settings
# ===============
innodb_buffer_pool_size = {{ mysql["innodb_buffer_pool_size"] }}
innodb_log_file_size = {{ mysql["innodb_log_file_size"] }}
innodb_log_files_in_group = {{ mysql["innodb_log_files_in_group"] }}
innodb_log_buffer_size = {{ mysql["innodb_log_buffer_size"] }}
innodb_open_files = {{ mysql["innodb_open_files"] }}
innodb_file_per_table = {{ mysql["innodb_file_per_table"] }}

# SSD-based settings
# ==================
innodb_flush_method = {{ mysql["innodb_flush_method"] }}
innodb_flush_log_at_trx_commit = {{ mysql["innodb_flush_log_at_trx_commit"] }}
innodb_adaptive_checkpoint = {{ mysql["innodb_adaptive_checkpoint"] }}
innodb_adaptive_flushing = {{ mysql["innodb_adaptive_flushing"] }}
innodb_flush_neighbor_pages = {{ mysql["innodb_flush_neighbor_pages"] }}
innodb_read_ahead = {{ mysql["innodb_read_ahead"] }}
innodb_file_format = {{ mysql["innodb_file_format"] }}
innodb_io_capacity = {{ mysql["innodb_io_capacity"] }}
innodb_write_io_threads = {{ mysql["innodb_write_io_threads"] }}
innodb_read_io_threads = {{ mysql["innodb_read_io_threads"] }}
innodb_thread_concurrency = {{ mysql["innodb_thread_concurrency"] }}

# miscellaneous settings
# ======================
character_set_server = {{ mysql["character_set"] }}
skip_external_locking = {{ mysql["skip_external_locking"] }}
open_files_limit = {{ mysql["open_files_limit"] }}

# If this is InnoDB, it can cause slowness if temporary tables are used
# extensively since MyISAM is generally faster for temp tables
default_storage_engine = {{ mysql["default_storage_engine"] }}

# per-thread buffers - rarely need tuned
# ======================================
sort_buffer_size = {{ mysql["sort_buffer_size"] }}
read_buffer_size = {{ mysql["read_buffer_size"] }}
read_rnd_buffer_size = {{ mysql["read_rnd_buffer_size"] }}
join_buffer_size = {{ mysql["join_buffer_size"] }}

[mysqld_safe]
timezone = {{ mysql["timezone"] }}

[client]
port = {{ mysql["port"] }}
loose_default_character_set = {{ mysql["character_set"] }}

